.alias {cursor: alias;}
.all-scroll {cursor: all-scroll;}
.auto {cursor: auto;}
.cell {cursor: cell;}
.context-menu {cursor: context-menu;}
.col-resize {cursor: col-resize;}
.copy {cursor: copy;}
.crosshair {cursor: crosshair;}
.default {cursor: default;}
.e-resize {cursor: e-resize;}
.ew-resize {cursor: ew-resize;}
.grab {cursor: -webkit-grab; cursor: grab;}
.grabbing {cursor: -webkit-grabbing; cursor: grabbing;}
.help {cursor: help;}
.move {cursor: move;}
.n-resize {cursor: n-resize;}
.ne-resize {cursor: ne-resize;}
.nesw-resize {cursor: nesw-resize;}
.ns-resize {cursor: ns-resize;}
.nw-resize {cursor: nw-resize;}
.nwse-resize {cursor: nwse-resize;}
.no-drop {cursor: no-drop;}
.none {cursor: none;}
.not-allowed {cursor: not-allowed;}
.pointer {cursor: pointer;}
.progress {cursor: progress;}
.row-resize {cursor: row-resize;}
.s-resize {cursor: s-resize;}
.se-resize {cursor: se-resize;}
.sw-resize {cursor: sw-resize;}
.text {cursor: text;}
.url {cursor: url(myBall.cur),auto;}
.w-resize {cursor: w-resize;}
.wait {cursor: wait;}
.zoom-in {cursor: zoom-in;}
.zoom-out {cursor: zoom-out;}

p{
    color: #1964f0;
    text-align: center;
    font-size: x-large;
   
}
p:hover{
    color: #f80a0a;
    transform: scale(1.9);
    font-weight: 700;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

h1{
    color: rgb(6, 26, 92);
    align-items: center;
    text-align: center;
}
h1:hover{
    font-weight: 900;
    color:rgb(1, 61, 100);
transform: scale(1.3);

}
.bgc{
    background-color: #e3e9f3;
}

h2.a {
    visibility: visible;
  }
  
  h2.b {
    visibility: hidden;
  }
  h2.a {
    visibility: visible;

  }
  .visiblity{
    background-color: rgb(241, 176, 123);
  }
h2 .b:hover{
    visibility: visible;}